div.react-grid-HeaderCell {
    white-space: normal !important;
    background: #ffffff;
    /*line-height: 13px !important;*/
}


.radio-custom+.radio-custom-label:before, .react-grid-checkbox+.react-grid-checkbox-label:before {
    content: "";
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    text-align: center;
}

.react-grid-checkbox:checked+.react-grid-checkbox-label:after {
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	top: 8px;
	left: 3px;
	border: 3px solid #b7bcc6;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);

}

.react-grid-checkbox:checked+.react-grid-checkbox-label:before {
    background: none;
}

