.ag-theme-material {
    font-family: 'gothamLight';
}

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 56px;
}
.ag-theme-material .ag-header-row {
    height: 50px !important;
}

.ag-theme-material .ag-header-cell-label {
    width: 100%;
}

.ag-theme-material .ag-header-cell-label .ag-header-icon {
    margin-left: 2px;
}

.ag-theme-material .ag-icon-desc {
    width: 10px;
}
.ag-theme-material .ag-icon-asc {
    width: 10px;
}

.ag-theme-material .ag-header-cell-label .ag-header-cell-text {
    margin: 0 auto;
    font-family: "gothamLight"
}

.ag-theme-material .ag-overlay-no-rows-center {
    background-color: #ffffff;
    border: 2px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
}

.ag-theme-material .ag-bl-overlay {
    padding-top: 40px;
    font-family: 'gothamLight';
    font-size: 14px;
}

/*.ag-theme-material .ag-overlay-wrapper .ag-overlay-no-rows-wrapper {
    padding-top: 60px;
    color: yellow;
}*/

div[col-id="rowSel"] .ag-header-select-all{
    margin-left: 20px;
}

.ag-theme-material .ag-cell:focus {
    outline: none;
    border: none;
}

.ag-theme-material .ag-icon-checkbox-unchecked {
    background-image: url('../../assets/images/unchecked.svg');
}
.ag-theme-material .ag-icon-checkbox-checked, .ag-theme-material .ag-icon-checkbox-checked:empty {
    background-image: url('../../assets/images/checked.svg');
}
#checkbox_competitors {
    display: none;
}
#checkbox_competitors + span {
    background-image: url('../../assets/images/unchecked.svg');
    position: absolute;
    top: 18px;
    left: 25px;
    width: 18px;
    height: 18px;
    background-size: cover;
}
#checkbox_competitors:checked + span {
    background-image: url('../../assets/images/checked.svg');
    position: absolute;
    top: 18px;
    left: 25px;
    width: 18px;
    height: 18px;
    background-size: cover;
}
.ag-theme-material .ag-row-selected {
    background: #fff !important;
}
.ag-theme-material .ag-row-hover {
    background: #eee !important;
}