.ui.vertical.menu .active.item,
.ui.vertical.menu .active.item:hover {
    background-color: rgba(0, 0, 0, .28);
    font-weight: bold;
}
.ui.menu a.item:hover {
    background-color: rgba(0, 0, 0, .21)
}

.wrap-item-menu {
    width: 260px;
    display: flex;
    align-items: center;
}

.close .wrap-item-menu {
    transform: translateX(184px);
}
.close .wrap-item-menu__text {
    opacity: 0;
}