.overlay {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.uda_modal { background-color: #FCFCFE; margin: 10px auto; padding: 20px; border: 1px solid #888; width: 60%; overflow-y: scroll; height: 100%; z-index: 999;}

.title { border-bottom: 2px solid #B7BCC6; width: 100%; margin: 0; padding: 5px 0px; color: #07090D; }
.content h3 { color: #6A6C71; margin: 10px 0;}
.content p { margin: auto 15px; text-align: justify; color: #20232E}

.close { color: #B7BCC6; float: right; font-size: 28px; font-weight: bold; }
.close:hover, .close:focus { color: #CA1C24; text-decoration: none; cursor: pointer; }