#sidebar_icon {padding: 5px 30px 5px 5px; }
#sidebar_icon span, #sidebar_icon span:before, #sidebar_icon span:after { background: #ccc; border-radius: 1px; height: 3px; width: 20px; position: absolute; display: block; content: ''; }
#sidebar_icon span:before { top: -6px; }
#sidebar_icon span:after { bottom: -6px; }
#sidebar_icon span, #sidebar_icon span:before, #sidebar_icon span:after {transition: all 500ms ease-in-out; }
#sidebar_icon.collapse span { background-color: transparent; }
#sidebar_icon.collapse span:before, #sidebar_icon.collapse span:after { top: 0; }
#sidebar_icon.collapse span:before { transform: rotate(45deg);}
#sidebar_icon.collapse span:after { transform: rotate(-45deg); }

.downloadReport .text { margin: auto; font-family:"GothamLight"; padding-left: 1.5em; color: #B7BCC6; }

.downloadReport i { color: #B7BCC6; background: none !important; position: absolute; left: 0; }