@font-face {
    font-family: 'myFont';
    src: url("../../assets/fonts/gotham-light-webfont.woff");
}

.bottom-text {
    font-size: 13px;
    color: white;
    font-weight: bold;
    font-family: 'myFont';
    position: 'fixed';
    bottom:0
}

.bottom-text:first-child { 
    padding-right: 35px;
}

.bottom-text:first-child:hover {
    cursor: default;
    color: white;
}

.bottom-text:nth-child(2) { 
    padding-right: 35px;
}

@media (max-width:768px) { 
    .bottom-text {
        visibility: hidden;
    }
}
@media (max-height: 415px) {
    .bottom-text {
        visibility: hidden;
    }
}