.market_filters .text {
    color: #6A6C71 !important;
    margin: 0 !important;
}
.rc-slider-handle:active {
    box-shadow: 0 0 5px #EFF2F7;
}

.rc-slider-dot-active {
    border-color: rgb(183, 188, 198);
}

.area_input.ui.input input {
    color: rgb(106, 108, 113);
    padding-left: 1.5em !important;
    height: 2em;
    text-align: center;
}

.ui.input.area_input input:focus {
    text-shadow: 0 0 0 rgb(106, 108, 113);
}

.area_input.ui.input i {
    width: 1em !important;
    padding-left: 2em;
}

#PlacesAutocomplete__autocomplete-container div {
    position: relative;
}

.state_filter span.rc-slider-mark-text.rc-slider-mark-text-active {
    color: rgb(106, 108, 113) !important;
    font-size: .95em;
}

.rc-slider-mark-text-active {
    font-weight: bold;
    font-size: 1.3em;
}

.rc-slider-mark-text-active i.delete {
    color: #CA1C24!important;
}
.rc-slider-mark-text-active i.minus {
    color: #B7BCC6!important;
}
.rc-slider-mark-text-active i.check {
    color: #5bc9b6!important;
}

/* @media only screen and (max-width: 1280px) {
    .ui.card.housingDataAddress {
        width: 490px !important;
    }
    div.hdAddress {
        width: 340px !important;
    }
} */

/* @media only screen and (min-width: 1024px) and (max-width: 1280px) {
    
}*/

@media only screen and (min-width: 1368px) {
    .googleImage {
        width: 140px !important;
        height: 140px !important;
    }
    .housingDataAddress .ui.left.internal.rail {
        margin-left: 160px !important;
    }
    .housingDataAddress .filters {
        height: 50px;
        display: inline-flex;
        width: 65% !important;
        position: absolute !important;
        bottom: 10px;
        left: 160px; 
    }
    
}

.fullContent {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}