@font-face {
  font-family: 'gothamLight';
  src: url("./assets/fonts/gotham-light-webfont.woff");
}

@font-face {
  font-family: 'gothamMedium';
  src: url("./assets/fonts/gotham-medium-webfont.woff");
}
@font-face {
  font-family: 'gothamBold';
  src: url("./assets/fonts/gotham-bold-webfont.woff");
}

html, body, #root {
  font-family: 'gothamLight';
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body > div,
body > div > div,
body > div > div > div.App-container,
.App-container {
  height: 100%;
}

.ui.modal {
  height: auto;
}

@media only screen and (max-width: 767px) {    
    .ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }
}

@media only screen and (min-width: 768px) {
    .ui.container.page_content {
        width: 100%;
    }
    .ui.container {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
}

@media only screen and (max-width: 1350px) {
  .sidebarOn {
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 1350px) {
  .sidebarOn {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1100px) {
  .sidebarOff {
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 1100px) {
  .sidebarOff {
    overflow-x: scroll;
  }
}

/* RAFA overriding Semantic-UI Menu Component */
.ui.secondary.pointing.menu .active.item {
  border-width: 3px;
  border-color: #ca1c24 !important;
}
.ui.secondary.pointing.menu .active.item:hover {
  border-color: #ca1c24 !important;
}
.ui.secondary.pointing.menu {
  border-bottom: 1px solid #979797;
  padding-bottom: 1px;
}

/* Overriding Semantic-UI Checkbox Component */

.ui.toggle.checkbox.toggle_rent_sale input:checked~.box:before,
.ui.toggle.checkbox.toggle_rent_sale input:focus:checked~.box:before,
.ui.toggle.checkbox.toggle_rent_sale input:checked~.box:before,
.ui.toggle.checkbox.toggle_rent_sale input:checked~label:before {
  background-color: #ca1c24 !important;
}

.resize:hover {
  cursor: col-resize;
}

/* Overriding Toastify Component */

.toastify-content--info { background: #eff2f7 !important; color: #6a6c71 !important;}
.toastify-content--info button { color: #6a6c71 !important;}
.toastify-content--info div:last-child {background: #ca1c24 !important;}