html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  text-align: center;
  color: #fff;
}

#loading i {
  margin: calc(100vh/2 - 50px) auto 10px;
  font-size: 45px;
  display: block;
}