
.udaCardHeader {
    font-family: 'gothamMedium';
    font-size: 16px;
    color: rgb(150, 150, 150);
}
.udaCardHeader > span {
    font-size: 12px;
}

.outBorder {
    border-bottom: thin solid rgb(151, 151, 151);
    margin-left: -10px;
    margin-right: -10px;
}

.priceUdaTop {
    position: relative;
    font-family: 'gothamBold';
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    top: 8px;
}

.priceUdaBottom {
    position: relative;
    font-family: 'gothamBold';
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    top: 6px;
}

.priceM2Top {
    position: relative;
    font-family: 'gothamLight';
    font-size: 14px;
    color: rgb(150, 150, 150);
    font-weight: bold;
    top: 14px;
    left: 4px;
}

.priceM2Bottom {
    position: relative;
    font-family: 'gothamLight';
    font-size: 14px;
    color: rgb(150, 150, 150);
    font-weight: bold;
    top: -16px;
    float: right;
    right: 12px;
}

.precision {
    float: right;
    font-family: 'gothamLight';
    color: #ffffff;
    width: 100px;
    height: 15px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 15px;
}
.precision > span {
    font-family: 'gothamMedium';
}

.maxminUda {
    position: relative;
    float: right;
    right: 25px;
    top: 4px;
}
.maxminUda > span {
    display: block;
    font-family: 'gothamLight';
    font-size: 13px;
    line-height: 13px;
}

.textM {
    color: #6a6c71;
}
.precioM {
    color: #b9bec8;
}

@keyframes progress {
    0%   {left: 0}
    100% {left: 65%;}
};